<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light">
  <div class="navbar-wrapper">
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Main</label>
        </li>

        <li class="nav-item">
          <a href="/index" class="nav-link">
            <span class="pcoded-micon"> <i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Dashboard</span></a>
        </li>

        <li class="nav-item">
          <a href="upload.html" class="nav-link">
            <span class="pcoded-micon"> <i class="feather icon-upload"></i></span><span
              class="pcoded-mtext">Upload</span></a>
        </li>

        <li class="nav-item">
          <a target="_blank" rel="noopener"
            href="https://devpost.com/mkachroo29?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav"
            class="nav-link">
            <span class="pcoded-micon">
              <i class="feather icon-layers"></i></span><span class="pcoded-mtext">Learn More</span></a>
        </li>

        <li class="nav-item pcoded-menu-caption">
          <label>Other</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span
              class="pcoded-mtext">Authentication</span></a>
          <ul class="pcoded-submenu">
            <li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
            <li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
          </ul>
        </li>

      </ul>


    </div>
  </div>
  </div>
</nav>
<!-- [ navigation menu ] end -->