{% extends "layouts/base.html" %} {% block title %} Claims List {% endblock %} {%
    block content %}
    
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
      <div class="pcoded-content">
        <!--Accordion wrapper-->
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- Accordion card -->
          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne1">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                aria-controls="collapseOne1">
                <h5 class="mb-0">
                  Claim #137855 <span class="claims badge badge-warning">In Progress</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      In Progress
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- Accordion card -->

          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne2">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne2" aria-expanded="true"
                aria-controls="collapseOne2">
                <h5 class="mb-0">
                  Claim #751087 <span class="claims badge badge-warning">In Progress</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne2"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      In Progress
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne3">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne3" aria-expanded="true"
                aria-controls="collapseOne3">
                <h5 class="mb-0">
                  Claim #884240 <span class="claims badge badge-success">Completed</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne3" class="collapse" role="tabpanel" aria-labelledby="headingOne3"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      Completed
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne4">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne3" aria-expanded="true"
                aria-controls="collapseOne4">
                <h5 class="mb-0">
                  Claim #717789 <span class="claims badge badge-danger">Unprocessed</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne4" class="collapse" role="tabpanel" aria-labelledby="headingOne4"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      Unprocessed
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne7">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne7" aria-expanded="true"
                aria-controls="collapseOne7">
                <h5 class="mb-0">
                  Claim #810501 <span class="claims badge badge-warning">In Progress</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne7" class="collapse" role="tabpanel" aria-labelledby="headingOne7"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      In Progress
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne5">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne5" aria-expanded="true"
                aria-controls="collapseOne5">
                <h5 class="mb-0">
                  Claim #244812 <span class="claims badge badge-danger">Unprocessed</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne5" class="collapse" role="tabpanel" aria-labelledby="headingOne5"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      Unprocessed
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="card">

            <!-- Card header -->
            <div class="card-header claims" role="tab" id="headingOne6">
              <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne6" aria-expanded="true"
                aria-controls="collapseOne6">
                <h5 class="mb-0">
                  Claim #760948 <span class="claims badge badge-success">Completed</span> <i class="fas fa-angle-down rotate-icon"></i>
                </h5>
              </a>
            </div>

            <!-- Card body -->
            <div id="collapseOne6" class="collapse" role="tabpanel" aria-labelledby="headingOne6"
              data-parent="#accordionEx">
              <div class="card-body">
                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Type
                    </div>
                    <div class="claimText">
                      Auto
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Date
                    </div>
                    <div class="claimText">
                      August 22, 2020
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Status
                    </div>
                    <div class="claimText">
                      Completed
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-4">
                    <div class="claimHeading">
                      Policy Holder
                    </div>
                    <div class="claimText">
                      John Smith
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Address
                    </div>
                    <div class="claimText">
                      123 Anywhere St, City, Country
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="claimHeading">
                      Phone Number
                    </div>
                    <div class="claimText">
                      123-456-7890
                    </div>
                  </div>
                </div>
                
                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Summary of Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod.
                    </div>
                  </div>
                </div>

                <div class="row claimRow">
                  <div class="col-12">
                    <div class="claimHeading">
                      Original Claim
                    </div>
                    <div class="claimText">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                      wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                      eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                      assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                      nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                      farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                      labore sustainable VHS.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}