{% extends "layouts/base.html" %} {% block title %} Upload {% endblock %} {%
block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="row">
      <div class="col">
        <h1>Upload File</h1>
        <hr />
        <form action="/upload.html" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Select file</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="getFile" id="getFile" onchange="updateFilename()" />
              <label class="custom-file-label" id="selectedFile" for="getFile">Select File...</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Upload File</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-m-6" style="padding: 15px;">
        {% if message %}
        <h4>Message</h4>
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <p class="m-b-0">{{ message }}</p>
            </div>
          </div>
        </div>

        <h4>Data Insights</h4>
        {% if gottenSummary %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Summary</h6>
              <p class="m-b-0">{{ gottenSummary }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenCategories %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Applicable Insurance Policies</h6>
              <p class="m-b-0">{{ gottenCategories }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenNames %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Name</h6>
              <p class="m-b-0">{{ gottenNames }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenDate %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Date</h6>
              <p class="m-b-0">{{ gottenDate }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenPhone %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Phone Number</h6>
              <p class="m-b-0">{{ gottenPhone }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenAddresses %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Address</h6>
              <p class="m-b-0">{{ gottenAddresses }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenEmail %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Email Address</h6>
              <p class="m-b-0">{{ gottenEmail }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenPrice %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Quote</h6>
              <p class="m-b-0">${{ gottenPrice }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% if gottenUrgency %}
        <div class="col">
          <div class="card bg-c-blue order-card">
            <div class="card-body">
              <h6 class="text-white">Urgency</h6>
              <p class="m-b-0">{{ gottenUrgency }}</p>
            </div>
          </div>
        </div>
        {% endif %}

        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

<script>
  updateFilename = function () {
    var input = document.getElementById("getFile");
    var output = document.getElementById("selectedFile");
    output.innerHTML = "<p>" + input.files.item(0).name + "</p>";
    console.log("haha");
  };
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}