{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="row">
      <div class="col">
        <h1>Upload File</h1>
        <hr>
        <form action="/upload.html" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Select file</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="pdf" id="pdf">
              <label class="custom-file-label" for="pdf">Select PDF...</label>
            </div>
          </div>
          <!-- <h6>Selected File</h6>
          <div id="fileList">None</div> -->
          <button type="submit" class="btn btn-primary">Upload PDF</button>
        </form>
      </div>
    </div>
    <div class="row">
        <div class="col-m-6" style="padding: 8px;">
          <h6>Result</h6>
          {% if message %}
          <p>{{ message }}</p>
          {% endif %}
        </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Apex Chart -->
<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
<!-- custom-chart js -->
<script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}